[Unit]
Description=Communicate with PX4

[Service]
ExecStart=/home/discower/FF_OBC_Setup/scripts/px4_comm.sh
User=discower
Type=forking
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

