[Unit]
Description=Startup Applications

[Service]
ExecStart=/home/discower/FF_OBC_Setup/startup/startup_px4_comm.sh
User=discower
Type=forking
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

